<h1>Messages</h1>
<<<<<<< HEAD


=======
>>>>>>> 41eaafc32aae9a110eb75cd995d993962957ced7
<div id='inbox'>
  <% @user.receive.order('created_at DESC').each do |msg| %>
    <div class='message'>
      <div class='msg_sender'>
        <%= User.find(msg.s_id).name %>
      </div>
      <div class='msg_content'>
        <%= msg.content %>
      </div>
      <%= form_tag '/message/reply', :remote => true do %>
        <%= hidden_field_tag 'id', msg.id %>
        <%= button_tag 'reply' %>
      <% end %>
    </div>
    <div id='<%= msg.id %>'></div>
  <% end %>
</div>