<h1>Messages</h1>
<div id='inbox'>
  <% @user.receive.order('created_at DESC').each do |msg| %>
    <div class='message'>
      <div class='msg_sender'>
        <%= User.find(msg.s_id).name %>
      </div>
      <div class='msg_content'>
        <%= msg.content %>
      </div>

      <%= form_tag '/message/reply', :remote => true do %>
        <%= hidden_field_tag 'id', msg.id %>
        <%= button_tag 'mark as read', :class => 'medium button', :value => 'read' %>
        <%= button_tag 'reply', :class => 'medium button' %>
      <% end %>
    </div>
    <div id='<%= msg.id %>'></div>
  <% end %>
</div>