<div id='new_workout'>
  <%= form_tag '/workouts', :remote => true do %>
    <div style="text-align: center">
      <dl class="dl-horizontal">
        <dt><%= label_tag "Start time:" %></dt>
        <dd><%= text_field_tag :start_time, nil, :placeholder => 'E.g. 16:00' %></dd>
        <input id="date" type="hidden" name="date" value=""/>
        <dt><%= label_tag "End time:" %></dt>
        <dd><%= text_field_tag :end_time, nil, :placeholder => 'E.g. 18:00' %></dd>
      </dl>
    </div>
    <span>Please select a user that you like to workout with:</span>
    <div id="results">
      <%= render :partial => 'users', :collections => @users %>
    </div>
    <input id="workout_invitee" type="hidden" name="invited_user_id" value=""/>
    <div style="clear:both; text-align: right"><%= submit_tag 'Send invite', :class => 'small button' %></div>
  <% end %>
</div>