<script>
    $(function() {
        $( "#datepicker" ).datepicker({ changeYear: true, yearRange: "1960:2000" });
    });
</script>



<h1>Please enter in more info</h1>
<%= form_for@user, :html => {:multipart => true} do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.radio_button :gender, 'male' %> Male
    <%= f.radio_button :gender, 'female' %> Female
  </div>
  <div class="field">
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
    <div class="field">
    <%= f.label :birthdate %><br />
    <%= f.text_field :birthdate, :id => "datepicker" %>
  </div>


  <div class="field">
    <%= f.label :workout_goal %><br />
    <%= f.select :workout_goal, options_for_select([ "cardio", "weights", "toning" ], "cardio") %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :gym %><br />
    <%= f.text_field :company %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>




<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
