<%= content_for :background do %>
<script type="text/javascript" src='http://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.3/jquery.backstretch.min.js'></script>
<script type="text/javascript">$.backstretch('<%= image_path("kids.jpg") %>');</script>
<% end %>
<script>
    $(function() {
        $( "#datepicker" ).datepicker({ changeYear: true, yearRange: "1960:2000" });
    });

$(function(){
  $('.image').hide();
  $('input#user_name').focus();
  $('input#user_phone').focus(show_bubble);
})
function show_bubble () {
  var val = $('input#user_name').val().toUpperCase();
  $('.text').empty();
  $('.image').fadeIn(3000);
  $('.text').append("HELLO, " + val +" IS HERE!");
}
</script>
<style type="text/css">
#edit{
  width: 600px;
  margin-top: 30px;
  float: right;
  padding: 15px;
  background: #2e2d2c;
  color: #4ca2b2;
  line-height: 25px;
  opacity: .95;
}
.edit{
  float: left;
  margin: 2.5%;
  width: 45%;
}
h1{
  font-family: 'Oswald', sans-serif;
  color: #f4f3f1;
}

.image {
  margin-top: 10px;
  width: 170px;
  margin-left: 190px;
  position:relative;
  float:left; /* optional */
  opacity: .55;

}
.image .text {
  text-align: center;
  position:absolute;
  top:25px; /* in conjunction with left property, decides the text position */
  left:30px;
  width:100px; /* optional, though better have one */
  line-height: 20px;
}
</style>

<div class='image'>
<%= image_tag 'speech-bubble.gif' %>
<div class='text'></div>
</div>

<div id='edit'>
  <h1>SHARE INFORMATION WITH YOUR NEW FRIENDS</h1>
  <div id='edit_left' class='edit'>
    <%= form_for@user, :html => {:multipart => true, :class => 'custom'} do |f| %>
      NAME
      <%= f.text_field :name %>
      PHONE
      <%= f.text_field :phone %>
      GENDER
      <span style='margin: 0 20px;'><%= f.radio_button :gender, 'male' %> Male</span>
      <span style='margin: 0 20px;'><%= f.radio_button :gender, 'female' %> Female</span>
      <br>

      <div style='margin-top: 8px;'>WORKOUT GOAL</div>
      <select name="user[workout_goal]" style="display:none;" id="customDropdown">
        <option value='CARDIO' SELECTED>CARDIO</option>
        <option value='WEIGHTS' >WEIGHTS</option>
        <option value='TONING' >TONING</option>
      </select>
      <div class="custom dropdown">
        <a href="#" class="current">
          CARDIO
        </a>
        <a href="#" class="selector"></a>
        <ul>
          <li>CARDIO</li>
          <li>WEIGHTS</li>
          <li>TONING</li>
        </ul>
      </div>

  </div>
  <div id='edit-right' class='edit'>
      BIRTHDATE
      <%= f.text_field :birthdate, :id => "datepicker" %>
      PROFILE PIC
      <%= f.file_field :avatar %>
      <%= f.text_field :remote_avatar_url %>
      <%= f.hidden_field :avatar_cache %>



  <%= f.submit 'go', :class => 'medium button' %>

  <% end %>

  </div>
</div>
</div>
