<script type='text/javascript'>
   $(window).load(function() {
       $('#featuredContent').orbit({ fluid: '16x6' });
   });
</script>

        <style type="text/css">

            #featuredContent{

                opacity: 0.7;
            }

            .profile_info {
                margin-top: 40px;
                /* margin: 250px; */
                padding-left: 50px;
                float: right;
                display: inline-block;
                padding-right: 100px;
                }

            .profile_photo {
                margin-top: 40px;
                /* margin-right: 60px; */
                display: inline;
                float: left;
                width: 200px;
                margin-left: 50px;
              }
            .profile_photo img{
                border-radius: 100px;
            }


            .photo_slider{
                  /*width:300px;*/
                  height: 250px;
                 /* margin-left: 180px;
                  margin-top: 75px;*/
                  /*border: 1px solid black;*/
                }

            .p{
              display: block;
              float: left;
              /*margin-left: 75px;*/
            }

        </style>

<div class="photo_slider" >
    <div id="featuredContent">
      <% @photos.each do |photo| %>
            <div class = "p"><%=image_tag(photo.photo.big)%></div>
        <% end %>
    </div>
</div>

 <div class = "clear"></div>

        <div class = "profile_info">
            <h1> <em><%= @user.name %> </em></h1>
            <div class="f1"><strong>Email:</strong> <%= @user.email %></div>
            <div class="f1"><strong>Birthdate:</strong> <%= @user.birthdate %></div>
            <div class="f1"><strong>Gender:</strong> <%= @user.gender %></div>
            <div class="f1"><strong>Goal:</strong> <%= @user.workout_goal %></div>
        <br>
        <em><%= link_to 'Edit Profile', edit_user_path if @authenticated_user == @user %></em>
    </div>

    <div class = "profile_photo"> <%= image_tag(@user.avatar) %></div>

    <div class = "clear"></div>


