    <div class = "profile_info">
        <h1> <%= @user.name %> </h1>
        <div class="f1"><strong>Email:</strong> <%= @user.email %></div>
        <div class="f1"><strong>Age:</strong> <%= @user.age %></div>
        <div class="f1"><strong>Gender:</strong> <%= @user.gender %></div>
        <div class="f1"><strong>Height:</strong> <%= @user.height %></div>
        <div class="f1"><strong>Weight:</strong> <%= @user.weight %></div>
        <div class="f1"><strong>Workout Goals:</strong> <%= @user.workout_goal %></div>
        <div class="f1"><strong>Body Fat:</strong> <%= @user.body_fat %></div>
        <div class="f1"><strong>Gym:</strong> <%= @user.company %></div>
        <div class="f1"><strong>Location:</strong></div>
        <div class="f1"><strong>Description:</strong></div>
        <div class="f1"> <%= @user.description %></div>
        <br>
        <em><%= link_to 'Edit Profile', edit_user_path if @authenticated_user == @user %></em>
    </div>