<ul>
  <li><%= link_to "My Profile", user_path(@authenticated_user) %></li>
  <li><%= link_to 'Check-In', checkin_path %></li>
  <li><%= link_to "Messages", message_path(@authenticated_user) %></li>
  <li><%= link_to 'Workout Buddies', match_path %></li>
  <li><%= link_to 'Workout Calendar', calendar_path %></li>
  <li><%= link_to 'Track Workout' %></li>
  <li><%= link_to 'Photos', user_photos_path(@authenticated_user) %></li>
  <li><%= link_to 'News' %></li>
</ul>

