<ul>
  
  <li><%= link_to 'Check-in', checkin_path %></li>
  <li><%= link_to 'Workout Buddies', match_path %></li>
  <li><%= link_to 'Workout Calendar' %></li>
  <li><%= link_to 'Track Workout' %></li>
  <li><%= link_to 'News' %></li>
</ul>