
<i class="general foundicon-mail"><p>mail</p></i>

<h1>general</h1>
<% ('a'..'z').each do |a| %>
<div style='margin: 5px; padding: 5px; border: 1px solid black; float:left;'>
<%= a %>
<a class="glyph general" style='font-size: 20px;'><%= a %></a>
</div>
<% end %>
<br>

<div class='clear'></div>
<h1>social</h1>
<% ('a'..'z').each do |a| %>
<div style='margin: 5px; padding: 5px; border: 1px solid black; float:left;'>
<%= a %>
<a class="glyph social" style='font-size: 20px;'><%= a %></a>
</div>
<% end %>

<div class='clear'></div>

<h1>accessibility</h1>
<% ('a'..'z').each do |a| %>
<div style='margin: 5px; padding: 5px; border: 1px solid black; float:left;'>
<%= a %>
<a class="glyph accessibility" style='font-size: 20px;'><%= a %></a>
</div>
<% end %>
