
<%= ('a'..'z').each do |a| %>

<a class="glyph general"><%= a %></a><br><br>
<% end %>

<%= ('a'..'z').each do |a| %>

<a class="glyph social"><%= a %></a><br><br>
<% end %>


<%= ('a'..'z').each do |a| %>

<a class="glyph accessibility"><%= a %></a><br><br>
<% end %>


