
<script>
    $(function() {
        $( "#datepicker" ).datepicker({ changeYear: true, yearRange: "1960:2000" });
    });
</script>

<form class="custom">
  <!-- Custom Selects -->
  <label for="customDropdown">WORKOUT GOAL</label>
  <select style="display:none;" id="customDropdown">
    <option SELECTED>CARDIO</option>
    <option>WEIGHTS</option>
    <option>TONING</option>
  </select>
  <div class="custom dropdown">
    <a href="#" class="current">
      CARDIO
    </a>
    <a href="#" class="selector"></a>
    <ul>
      <li>CARDIO</li>
      <li>WEIGHTS</li>
      <li>TONING</li>
    </ul>
  </div>
</form>




<p>Date: <input type="text" id="datepicker" /></p>

<i class="general foundicon-mail"><p>mail</p></i>

<h1>general</h1>
<% ('a'..'z').each do |a| %>
<div style='margin: 5px; padding: 5px; border: 1px solid black; float:left;'>
<%= a %>
<a class="glyph general" style='font-size: 20px;'><%= a %></a>
</div>
<% end %>
<br>

<div class='clear'></div>
<h1>social</h1>
<% ('a'..'z').each do |a| %>
<div style='margin: 5px; padding: 5px; border: 1px solid black; float:left;'>
<%= a %>
<a class="glyph social" style='font-size: 20px;'><%= a %></a>
</div>
<% end %>

<div class='clear'></div>

<h1>accessibility</h1>
<% ('a'..'z').each do |a| %>
<div style='margin: 5px; padding: 5px; border: 1px solid black; float:left;'>
<%= a %>
<a class="glyph accessibility" style='font-size: 20px;'><%= a %></a>
</div>
<% end %>
