<script type="text/javascript">
$(function(){
  $('#login').hide();
  $('#sign').hide();
  $('button:first').click(show_login);
  $('button:eq(1)').click(show_sign);
});

function show_login () {
  $('button:first').hide();
  $('button:eq(1)').hide();
  $('#login').show();
}

function show_sign () {
  $('button:first').hide();
  $('button:eq(1)').hide();
  $('#sign').show();
}
</script>
<style type="text/css">
#signup{
  width: 261px;
  margin-top: 12%;
  margin-right: 20%;
  float: right;
  padding: 15px;
  background: #2e2d2c;
  border: 5px solid #2e2d2c;
  color: #4ca2b2;
  line-height: 25px;
  opacity: .7;
}
h1{
  font-family: 'Oswald', sans-serif;
  color: #f4f3f1;
}
form{
  margin: 0;
}
.a{
  margin-left: 30px;
}
</style>

<%= content_for :background do %>
<script type="text/javascript" src='http://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.3/jquery.backstretch.min.js'></script>
<script type="text/javascript">$.backstretch('<%= image_path("locker-room.png") %>');</script>
<% end %>

<div id="signup">
  <h1>DON'T WORK OUT ALONE.</h1>
  <%= button_tag 'LOGIN', :class => 'medium button a' %>
  <%= button_tag 'SIGNUP', :class => 'medium button' %>
  <div id='login'>
    <%= form_tag login_path do %>
      EMAIL <%= text_field_tag 'email' %>
      PASSWORD <%= password_field_tag 'password' %>
      <%= submit_tag 'LOGIN', :class => 'medium button' %>
    <% end %>
  </div>
  <div id='sign'>
    <%= form_for @user, :html => {:multipart => true} do |f| %>
      EMAIL <%= f.text_field :email %>
      PASSWORD <%= f.password_field :password %>
      CONFIRM <%= f.password_field :password_confirmation %>
      <%= submit_tag 'SIGNUP', :class => 'medium button' %>
    <% end %>
  </div>
  <div class='clear'></div>
</div>