<%= form_for@company, :html => {:multipart => true} do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :zip_code %><br />
    <%= f.text_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :primary_name %><br />
    <%= f.text_field :primary_name %>
  </div>
  <div class="field">
    <%= f.label :primary_contact %><br />
    <%= f.text_field :primary_contact %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


