<h1>FIND A WORKOUT BUDDY</h1>
<!-- search andfilter buddies / submenu -->

<%= content_for :match do %>
  <%= form_tag '/match/search', :id => 'searchform', :remote => true do %>
    <%= text_field_tag 'query' %>
    <%= submit_tag 'SEARCH', :class => 'small button' %>
  <% end %>

  <%= form_tag '/match/filter', :remote => true, :class => 'custom' do %>
      <select name='workout' style="display:none;" id="customDropdown">
        <option SELECTED>CARDIO</option>
        <option>WEIGHTS</option>
        <option>TONING</option>
      </select>
      <div class="custom dropdown">
        <a href="#" class="current" style='width: 126px; color: black;'>
          CARDIO
        </a>
        <ul>
          <li>CARDIO</li>
          <li>WEIGHTS</li>
          <li>TONING</li>
        </ul>
      </div>
    <%= submit_tag 'FILTER', :class => 'small button' %>
  <% end %>

<% end %>
<!-- results index -->
<div id="results" style="padding:20px;">
  <%= render :partial => 'results', :collections => @users %>
</div>

<div class = 'clear'></div>
<div style='text-align:center; width: 100%; margin-top: 50px; margin-bottom: 20px;'>
<%= paginate @users %>
</div>