<!-- search andfilter buddies / submenu -->
<%= content_for :match do %>
  <%= form_tag '/match/search', :id => 'searchform', :remote => true do %>
    <%= text_field_tag 'query' %>
    <%= submit_tag 'search' %>
  <% end %>
  <%= form_tag '/match/filter', :remote => true do %>
    <%= select_tag 'workout', options_for_select([['Weights','weights'],['Cardio','cardio'],['Toning','toning']]) %>
    <%= submit_tag 'filter' %>
  <% end %>
<% end %>

<!-- results index -->
<div id="results">
  <%= render :partial => 'results', :local => @users %>
</div>