<h1>find a workout buddy:</h1>

<!-- search for buddies -->
<%= form_tag '/match/search', :id => 'searchform', :remote => true do %>
  <%= text_field_tag 'query' %>
  <%= submit_tag 'search' %>
<% end %>


<!-- filter buddies / submenu -->
<%= content_for :match do %>
  <%= form_tag '/match', :remote => true do %>
    <%= select_tag 'workout', options_for_select([['Weights','weights'],['Cardio','cardio'],['Toning','toning']]) %>
    <%= submit_tag 'filter' %>
  <% end %>
<% end %>

<div id="results">
  <%= render :partial => 'results', :local => @users %>
</div>