<h1>find a workout buddy:</h1>

<%= form_tag '/match/search', :id => 'searchform', :remote => true do %>
  <%= text_field_tag 'query' %>
<% end %>

<%= content_for :match do %>
  <%= form_tag '/match', :remote => true do %>
    <%= select_tag 'workout', options_for_select([['Weights','weights'],['Cardio','cardio'],['Toning','toning']]) %>
    <%= submit_tag 'filter' %>
  <% end %>
<% end %>



<% @users.each do |t| %>
  <strong>Name: <%= t.email %></strong></br>
  workout goal: <%= t.workout_goal %></br>
  ........................................</br>
<% end %>

<div id="results">
</div>