<script type="text/javascript">
$(function(){

  $('#news_feed').empty();
  $('#checkin_count').empty();

  <% @checkins.each do |x| %>
    $('#news_feed').prepend('<%= x.to_s %><br>');
  <% end %>

  $('#checkin_count').prepend('you checked in <%= @count %> times, congrats!');

});
</script>


<%= form_tag '/checkin', :remote => true do %>
<div id="time"></time>
   I want to check in:<br>
 <div class="three columns">
 </br>
TIME:
<%= select_tag 'time', options_for_select(1..12) %>
</br>
<%= radio_button_tag :ampm, 'am' %> AM
</br>
<%= radio_button_tag :ampm, 'pm' %> PM

<br>
GOAL:
<%= select_tag 'workout', options_for_select([['Weights','weights'],['Cardio','cardio'],['Toning','toning']]) %>
<%= submit_tag 'update' %>
</div>
<% end %>


<div id='news_feed'></div>

<div id='checkin_count'></div>