

<% content_for :messaging do %>

  <script type="text/javascript">
    $(function(){

      $('#news_feed').empty();
      $('#checkin_count').empty();
      <% @checkins.each do |x| %>
        $('#news_feed').prepend('<div class="feed"><%= x.to_s %></div><%= form_tag message_new_path, :method => :get do %><%= hidden_field_tag "receiver", x.user.id %><%= button_tag "message" %><% end %>');
      <% end %>
      $('#checkin_count').prepend('you checked in <%= @count %> times, congrats!');

    });
  </script>

<% end %>





<div class='row'>
  <div class="three columns">
    <%= form_tag '/checkin', :remote => true do %>
    I want to check in:<br>
    </br>
    TIME:
    <%= select_tag 'time', options_for_select(1..12) %>
    </br>
    <%= radio_button_tag :ampm, 'am' %> AM
    </br>
    <%= radio_button_tag :ampm, 'pm' %> PM
    <br>
    GOAL:
    <%= select_tag 'workout', options_for_select([['Weights','weights'],['Cardio','cardio'],['Toning','toning']]) %>
    <%= submit_tag 'update' %>
    <% end %>

    <div id='checkin_count'>
    </div>

  </div>
  <div class='nine columns' style='pmadding-left: 30px;'>
    <div id='news_feed'></div>

  </div>
</div>
