<script type='text/javascript'>
   $(window).load(function() {
       $('#featuredContent').orbit({ fluid: '16x6' });
   });
</script>

<style type="text/css">

  .checkin_form{
    margin-bottom: 7px;
    margin-left: 100px;
  }

  .c{
    margin-left: 80px;
    width: 70px;

  }
  #checkin_count{
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
  }

  #news_feed{
    margin-top: 40px;
    padding-left: 30px;
    margin-left: 70px;

  }

  .avatar{
    border: 2px solid black;
    float: left;
    margin-right: 62px;
  }

  .a{
    margin-right: 100px;
    float: right;

  }
  .b{
    margin-top: 8px;
    margin-left: 8px;
    width: 70px;
  }

  .form_feed{
    padding-top: 10px;
  }

  .feed{
    padding-bottom: 10px;
  /*  background-color: red;
    border: 1px solid black;*/
  }

  #record{
    padding-top: 10px;
  }

  .quotes{
    /*border: 1px dotted black;*/
    margin: 20px;
    height: 100px;
    font-style: italic;
    }

  .p{
    margin-top: 35px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

  #info{
    padding-top: 10px;
    height: 45px;
    background-color: orange;
    color: black;
    text-align: center;
    border: 1px solid black;
    font-style: italic;
  }

</style>

<% content_for :messaging do %>
  <script type="text/javascript">
    $(function(){
      $('#news_feed').empty();
      $('#checkin_count').empty();
      <% @checkins.each do |x| %>
        $('#news_feed').prepend('<div class="feed"><%= image_tag(x.user.avatar.mini, :class => "avatar") %><%= form_tag message_new_path,:class => 'form_feed', :method => :get do %><%= hidden_field_tag "receiver", x.user.id %><%= x.to_s %><%= button_tag 'MSG', :class => 'small button a' %><% end %></div>');
      <% end %>
      $('#checkin_count').prepend('you checked in <%= @count %> times, congrats!');
    });
  </script>
<% end %>

<div id = "info">
  <p>Input when you you will be working out and record results</p>
</div>


<div id='checkin' style='border-bottom: 1px black dashed; padding: 8px;'>
  <%= form_tag '/checkin', :class => 'checkin_form', :remote => true do %>
    <span style='margin: 0px 15px;'>TIME</span>
    <%= select_tag 'time', options_for_select(1..12), :style => 'width: 50px; margin-top: 12px 5px;' %>
    <%= radio_button_tag :ampm, 'am'%><span style='margin-right:5px;'>AM</span>
    <%= radio_button_tag :ampm, 'pm'%><span style='margin-right:5px;'>PM</span>
    <span style='margin: 15px;'>GOAL</span>
    <%= select_tag 'workout', options_for_select([['WEIGHTS','WEIGHTS'],['CARDIO','CARDIO'],['TONING','TONING']]), :style => 'width: 100px; margin-top: 15px'  %>
    <%= submit_tag 'CHECKIN', :class => 'small button c' %>
  <% end %>
</div>

<div id='record' style='border-bottom: 1px black dashed;'>
  <%= form_tag '/record', :remote => true do %>
    <span style='float:left; margin: 15px;'>WEIGHT</span>
    <%= text_field_tag 'weight', '', :style => 'width: 100px; float:left; margin: 5px;', :placeholder => 'in pounds' %>
    <span style='float:left; margin: 15px;'>RUN</span>
    <%= text_field_tag 'run', '', :style => 'width: 100px; float:left; margin: 5px;', :placeholder => '5.0 min mile' %>
    <span style='float:left; margin: 15px;'>PUSH-UPS</span>
    <%= text_field_tag 'push up','', :style => 'width: 100px; float:left; margin: 5px;', :placeholder => '# of push ups' %>
    <%= button_tag 'UPDATE', :class => 'small button b' %>
  <% end %>

</div>
<div class='clear'></div>

<div id='record_update' style='width:100%;background:#EF4130;color:#f4f3f1;'></div>
<div id='checkin_count'></div>
<div id='news_feed'></div>

<div class= 'quotes'>
  <div id="featuredContent">
    <% @motivations.each do |m| %>
              <div class = "p"> "<%= m.quote %>" </div>
          <% end %>
  </div>
</div>










