<% content_for :messaging do %>
  <script type="text/javascript">
    $(function(){
      $('#news_feed').empty();
      $('#checkin_count').empty();
      <% @checkins.each do |x| %>
        $('#news_feed').prepend('<div class="feed"><%= x.to_s %></div><%= form_tag message_new_path, :method => :get do %><%= hidden_field_tag "receiver", x.user.id %><%= button_tag 'message' %><% end %>');
      <% end %>
      $('#checkin_count').prepend('you checked in <%= @count %> times, congrats!');
    });
  </script>

<% end %>
<div id='checkin' style='background: #EF4130; padding: 5px;'>
  <%= form_tag '/checkin', :remote => true do %>
    TIME:
    <%= select_tag 'time', options_for_select(1..12), :style => 'width: 50px;' %>
    <%= radio_button_tag :ampm, 'am' %> AM
    <%= radio_button_tag :ampm, 'pm' %> PM
    GOAL:
    <%= select_tag 'workout', options_for_select([['Weights','weights'],['Cardio','cardio'],['Toning','toning']]), :style => 'width: 100px;'  %>
    <%= submit_tag 'update' %>
  <% end %>
</div>
    <div id='checkin_count'></div>

    <div id='news_feed'></div>

