<!DOCTYPE html>
<html>
<head>
  <title>Gym Buddy</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :messaging %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
    <ul id='gym-bar'>
      <li><%= link_to 'HOME', root_path %></li>
      <li><%= link_to 'ABOUT', about_path %></li>
      <li><%= link_to "LOGOUT", logout_path if session[:user_id] %></li>
    </ul>
    <div class='clear'></div>
	</header>

  <div class='row h' style='border: 1px solid black; margin-top: 30px; background: #2e2d2c;'>
      <div class='two columns' id='submenu'>
        <%= render 'shared/subnav' if session[:user_id] %>
        <%= yield :match %>
      </div>
      <div class='eight columns h', id="content">
        <%= yield %>
      </div>
      <div class='two columns', id ="leader_board">
        <%= render 'shared/leaderboard' if session[:user_id] %>
      </div>
      <div class='clear'></div>
  </div><!-- row -->


</body>
</html>
