<!DOCTYPE html>
<html>
<head>
  <title>Gym Buddy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
    <ul id='gym-bar'>
      <li><%= link_to 'HOME', root_path %></li>
      <li><%= link_to 'ABOUT', about_path %></li>
      <li><%= link_to 'LOGIN', login_path if session[:user_id].nil? %></li>
      <li><%= link_to "LOGOUT", logout_path if session[:user_id] %></li>
      <li><%= link_to 'SIGNUP', new_user_path if session[:user_id].nil? %></li>
    </ul>
    <div class='clear'></div>
	</header>


<div class='row'>
  <div class='three columns h' id='submenu'>
    <%= render 'shared/subnav' if session[:user_id] %>
    <%= yield :match %>
  </div>
  <div class='nine columns h', id ="content">
  	<%= yield %>
  </div>
</div><!-- row -->

<footer>
</footer>

</body>
</html>
